# Dependency Directories
/node_modules/
**/node_modules/

/dist/
**/dist/

# Environment Files
.env
.env. *
!.env.example
coverage/

# Terraform Local Artifacts
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
