{% extends "_layout.njk" %}

{% block title %}Error {{ statusCode }}{% endblock %}

{% block content %}
  <div class="error-page">
    <p class="error-code">{{ statusCode }}</p>
    <h1>Something went wrong</h1>
    <p>{{ message }}</p>
    <p>Error code: {{ statusCode }}</p>
    <a href="/" class="btn-primary">Back to Home</a>
  </div>
{% endblock %}
